* {
    font-size: 16px;
    font-weight: bold;
}

.request-list__content {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #F0EFF2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tabs {
    width: 900px;
    margin-top: 60px;
    padding-bottom: 20px;
    border-bottom: 1px solid #000;
}

.tabs a {
    margin: 30px 50px;
    width: 72px;
    text-align: justify;
    text-decoration: none;
    font-weight: 400;
    color: #000;
}

.tabs a.active {
    width: 72px;
    text-align: justify;
    text-decoration: none;
    font-weight: bold;
}

.application-list__table {
    width: 900px;
    border-collapse: collapse;
    border-radius: 10px;
    background-color: #fff;
    margin: 40px auto;
    color: #737373;
    table-layout: fixed;
}

.application-list__table--row {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.application-list__table td,
.application-list__table th {
    line-height: 1;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    padding: 15px 0;
    width: 97px;
    text-align: left;
}

.application-list__table thead tr {
    height: 31px;
    border-bottom: 3px solid #E1E1E1;
}

.application-list__table tbody tr {
    height: 33px;
    border-bottom: 1px solid #E1E1E1;
}

.application-list__table tbody tr:last-child {
    border-bottom: none;
}

.application-list__table--content-reason {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.detail-link {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}