.register-content {
    width: 680px;
    margin: 50px auto;
}

.register-form__heading {
    text-align: center;
}

.register-form__heading h2 {
    font-size: 36px;
    font-weight: 700;
}

.register-form {
    margin-top: 10px;
}

.form__group {
    margin-bottom: 10px;
}

.form__group-label {
    display: block;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.form__group-input {
    width: 100%;
    height: 45px;
    border: 1px solid #000;
    border-radius: 4px;
}

.form__btn {
    width: 100%;
    height: 60px;
    margin: 50px 0 30px 0;
}

.form__btn-submit {
    width: 100%;
    height: 60px;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

.login__link {
    margin: 20px 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.login__btn-submit {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    color: #0073cc;
    cursor: pointer;
}