.login-form__content {
    width: 680px;
    margin: 120px auto 0;
}

.login-form__heading {
    text-align: center;
}

.login-form__heading h2 {
    font-size: 36px;
}

.login-form {
    margin-top: 10px;
}

.form__group {
    margin-bottom: 20px;
}

.form__group-label {
    display: block;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
}

.form__group-input {
    width: 100%;
    height: 45px;
    border: 1px solid #000;
    border-radius: 4px;
}

.form__btn {
    width: 100%;
    height: 60px;
    margin: 0 auto;
}

.form__btn-submit {
    width: 100%;
    height: 60px;
    font-size: 26px;
    font-weight: 700;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}