.show-content {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #F0EFF2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detail {
    width: 900px;
    margin: 50px auto;
}

.application-form {
    width: 100%;
}

.form-area {
    width: 100%;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    background-color: #fff;
}

.form__group {
    width: 100%;
    height: 80px;
    margin: 0;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #E1E1E1;
    justify-content: space-between;
    font-size: 16px;
    font-weight: bold;
}

.form__group--time,
.form__group--break {
    min-height: 40px;
    height: auto;
    padding: 20px 0;
    align-items: center;
}

.form__group--comment {
    border: none;
    min-height: 140px;
    height: auto;
    align-items: center;
}

.form__group-title {
    margin-left: 60px;
    width: 150px;
}

.form__label-name,
.form__label-date,
.form__label-time,
.form__label-break,
.form__label-comment {
    color: #737373;
}

.form__group-content {
    width: 320px;
    margin-right: 250px;
}

.form__group-content-name {
    margin-left: 25px;
}

.year {
    margin-left: 25px;
    margin-right: 100px;
}

.form__input-time,
.form__input-break,
.time-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.time-content-display {
    margin-left: 20px;
}

.time-content-display span {
    margin: 0 50px;
}

.start-time,
.end-time,
.break-start,
.break-end {
    width: 103px;
    height: 28px;
    text-align: center;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    font-size: 16px;
    padding: 0;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

input[type="time"]::-webkit-inner-spin-button {
    display: none;
}

.form__input-comment {
    width: 100%;
}

.comment {
    width: 100%;
    height: 72px;
    text-decoration: none;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    resize: none;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
}

.form__group--comment.is-pending {
    min-height: 40px;
    height: auto;
    padding: 20px 0;
    align-items: center;
}

.form__group--comment.is-pending textarea {
    min-height: auto;
    height: auto;
}

textarea:disabled {
    padding: 0 10px;
    align-content: center;
    border: none;
    background-color: #fff;
    cursor: not-allowed;
}

.form__error {
    font-size: 15px;
    margin-top: 5px;
    padding: 0;
}

.form-btn {
    width: 100%;
    margin: 10px 0;
    text-align: right;
}

.pending-message {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 800px;
    color: #FF000080;
}

.form-btn__submit {
    margin: 10px 0;
    width: 130px;
    height: 50px;
    font-size: 22px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}