* {
    font-weight: bold;
    font-size: 16px;
}

.list-content {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #F0EFF2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.staff-list {
    margin-top: 50px;
    width: 900px;
    align-items: center;
}

.staff__table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 10px;
    background-color: #fff;
    margin: 40px auto;
    color: #737373;
    table-layout: fixed;
}

.staff__table--row {
    display: flex;
    justify-content: space-around;
    padding: 0 60px 20px;
}

.staff__table td,
.staff__table th {
    line-height: 1;
    letter-spacing: 0;
    text-align: center;
    vertical-align: middle;
    padding: 15px 0;
}

.staff__table thead tr {
    height: 31px;
    border-bottom: 3px solid #E1E1E1;
}

.staff__table tbody tr {
    height: 33px;
    border-bottom: 1px solid #E1E1E1;
}

.staff__table tbody tr:last-child {
    border-bottom: none;
}

.staff__table--header-name,
.staff__table--content-name {
    width: 100px;
    text-align: left;
}

.staff__table--header-email,
.staff__table--content-email {
    width: 335px;
}

.staff__table--header-detail,
.staff__table--content {
    width: 55px;
}

.staff__table-detail {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}